.background{
  fill:aquamarine;
/* background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000'); */
background-color: #F5F5F5;
min-height: 100%;
min-width: 1024px;

/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */

top: 7rem;
left: 0; 
}
 
  #leftbox {
    
      float:left;   
      color: rgb(21, 21, 21);
      background:aliceblue;
      width:20%;
      height:380px;
      border: 8px solid #7B59D1;

      
  }
 

  #middlebox{
      float:left; 
      background:aliceblue;
      color: rgb(20, 21, 21);
      width:20%;
      height:380px;
      border: 8px solid #7B59D1;
  }
  /* .box{
    height: 200px;
    color:white;
    border: 2px solid white;
   } */
   
  #rightbox{
    
      float:left;
      background:aliceblue;
      color: rgb(28, 28, 29);
      width:20%;
      height:380px;
      border: 8px solid #7B59D1;
  }
  #button{
  
    float:middle  ;
    background:blue;
    width:16.4%;
    /* height:px; */
    border: 8px solid #7B59D1;
  }
  h2{

 background-color: #7B59D1;
 height:50px;


 
} 