<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav"> -->
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    
    <!-- <li class="nav-item">
      <a routerLink="loans" class="nav-link" routerLinkActive="active">Loan List</a>
  </li>
  <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active">Apply Loan</a>
  </li>
   
  <li class="nav-item">
    <a routerLink="transaction" class="nav-link" routerLinkActive="active">Transaction List</a>
</li>
<li class="nav-item">
    <a routerLink="newtransaction" class="nav-link" routerLinkActive="active">Add Transaction</a>
</li>

  <li class="nav-item">
    <a routerLink="credit" class="nav-link" routerLinkActive="active">Credit </a>
</li>
<li class="nav-item">
    <a routerLink="debit" class="nav-link" routerLinkActive="active">Debit</a>
</li>
<li class="nav-item">
      
  <a routerLink="account" class="nav-link" routerLinkActive="active">Account List</a>
</li>
<li class="nav-item">
  <a routerLink="newaccount" class="nav-link" routerLinkActive="active">Add Account</a>
</li>

    <li class="nav-item">
      <a routerLink="customer" class="nav-link" routerLinkActive="active">Customer List</a>
  </li>
  <li class="nav-item">
      <a routerLink="newcustomer" class="nav-link" routerLinkActive="active">Add Customer</a>
  </li>


  
    <li class="nav-item">
      <a routerLink="admin" class="nav-link" routerLinkActive="active">Admin List</a>
  </li>
<li class="nav-item">
      <a routerLink="newadmin" class="nav-link" routerLinkActive="active">Add Admin</a>
  </li> -->


  <!-- <li class="nav-item">
    <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
</li> -->
  <!-- <li class="nav-item">
   <td>{{admin.adminId}}</td> -->
    <!-- <tr *ngFor="let admin of admin | async"> -->
            <!-- <td>{{ this.reloadData}}</td> -->
<!-- </li> -->

  <!-- </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
           <router-outlet></router-outlet>
    </div>
  </div>
</div> -->