#login {
  background: #d7d5d5fb;
  position: relative;
  top: -10px;
  overflow: hidden;
}
.container {
  min-height: 90vh;
  align-content: center;
}

.card { 
  height: 560px;
  margin-top: 5rem;
  margin-bottom: auto;
  width: 400px;
  background-color: rgb(255, 255, 255) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffffff;
}

.social_icon span:hover {
  color: #7B59D1;
  cursor: pointer;
}

.card-header h3 {
  color: #7B59D1;
  margin-bottom: 2rem;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group {
  margin-bottom: 2rem;
}

.input-group-prepend span {
  width: 50px;
  background-color: #7B59D1;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: rgb(255, 251, 251);
  background-color: #f0456ae5;
  width: 100px;
  margin-top: 3rem;
}

.login_btn:hover {
  color: rgb(212, 92, 92);
  background-color: rgba(150, 38, 255, 0);
}

.links {
  color: rgb(0, 0, 0);
}

.links a {
  margin-left: 4px;
}

hr {
  background-color: #ffffff;
}

.card-footer{
  background-color: #2ae672e5;
}
.custom-col{
  display: flex;
  flex-direction:column;
  align-items: baseline;
}

.custom-col span{
  color: red;
  font-size: smaller;
  margin-top: 1rem;
  
}
