input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}

.error{
    color: red;
}
.background{
    fill:aquamarine;
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  top: 7rem;
  left: 0; 
  }